.shot-container {
  cursor: pointer;

  &:hover {

    .preview {
      @include opacity(.1);
    }

    .description {
      display: block;
    }
  }
}

.shot {
  background: $body-bg;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
  clear: left;
  position: relative;

  .wrapper {
    height: 200px;
    padding: 15px;
  }

  .thumbnail {
    border: 0 none;
    margin-bottom: 0;
    padding: 0;
  }

  .preview {
    height: 100%;
    transition: opacity .3s cubic-bezier(.38, .2, 1, 1);
  }

  .description {
    display: none;
    height: 100%;
    padding: 15px;
    position: absolute;
    top: 15px;
    transition: display .3s cubic-bezier(0, 0, .2, 1);

    .title {
      display: block;
    }

    .text {
      font-size: 10px;
      line-height: 1;
    }

    .date {
      font-size: 12px;
      bottom: 45px;
      display: block;
      position: absolute;
    }
  }
}

.shot-author {
  margin-bottom: 20px;

  img {
    margin-right: 5px;
    width: 32px;
  }

  span {
    vertical-align: middle;
  }
}
